/* #region CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* #endregion */

body {
    background-color: antiquewhite;
}

#book-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto 75px;
    background-color: white;
    padding: 15px;
}

.book-wrapper {
    /* background-color: aquamarine; */
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 100px 100px;
    align-items: center;
}

#book-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 100px 100px;
    align-items: center;
    margin: auto 90px;
    font-weight: bold;
}